{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "no-underscore-dangle": "off",
    "no-return-assign": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  },
  "settings": {
    "import/core-modules": []
  },
  "env": {
    "browser": true
  }
}
