//@import "components/logos.css";

// body {
//   color: #222;
//   font-family: 'Muli', sans-serif;
// }

.hero {
  text-align: center;
  margin-bottom: 3em;
}

.me {
  border-radius: 50%;
  width: 30vh;
  min-width: 160px;
  border: 2px solid #ededed;
  padding: 1em;
  background-color: #fff;
  transition: 250ms;
  &:hover {
    transform: scale(1.2);
  }
}

.my-name {
  font-weight: 800;
  font-size: 6em;
  font-size: 10vh;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  line-height: 1;
  display: block;
  @media (max-width: 640px) {
    font-size: 4em;
  }
  @media (max-width: 420px) {
    font-size: 2em;
  }
}

h2 {
  font-weight: 200;
  & .sr {
    color: #002fff;
  }
  & a {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 420px) {
    font-size: 1em;
  }
}

.get-in-touch {
  color: #222;
  text-decoration: none;
  border: 1px solid #222;
  margin-top: 1em;
  padding: 1em 2em;
  display: inline-block;
  font-weight: 200;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: #222;
  }
}

.social {
  font-size: 2em;
  & a {
    color: #222;
  }
  @media (max-width: 420px) {
    font-size: 2em;
  }
}

h3 {
  margin: 2em 1% 1em 1%;
}

main {
  margin: auto;
}
