.logo {
  background-color: #fff;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #EDEDED;
  border-radius: 50%;
  list-style-type: none;
  padding-top: 100%;
}
