.logos {
  display: flex;
  flex-flow: wrap; 
  justify-content: space-around;
  padding: 0;
  width: 100%;
  margin-bottom: 3em;
  a {
    flex: 33%;
    // @media (max-width: 768px) {
    //   flex: 33%;
    // }

    @media (max-width: 460px) {
      flex: 100%;
    }
  }

  & .taco-bell {
    background-size: 47%;
  }
}
